@{
    ViewData["Title"] = "Home Page";
}

<h1>Calc Service Demonstration</h1>

<ul>
    <li>@Html.ActionLink("Using Model Calc", "UsingModel")</li>
    <li>@Html.ActionLink("Using ViewData Calc", "UsingViewData")</li>
    <li>@Html.ActionLink("Using ViewBag Calc", "UsingViewBag")</li>
    <li>@Html.ActionLink("Using Service Injection Calc", "UsingServiceInjection")</li>
</ul>